table {
    border-collapse: separate;
    border-spacing: 0.5rem;
    background: burlywood;
    width: 90%;
    margin: 3%;
    padding: 1rem;
    border: solid black 1px;
    box-sizing: border-box;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem silver;
}

th {
    align: right;
}

th:first-child {
    color: black;
    font-family: Helvetica;
    Font-style: x-large;
    font-weight: bold; 
}

td:first-child {
    text-align: right;
    padding: 5px;
    font-size: 1.3rem;
    color: brown;
}

tr:nth-child(even) {
    background-color: rgb(230, 195, 150);
}
